:root {
  --cream-color: #FBF5EB;
  --dark-color: #1B1B1B;
  --third-color: #bc9d83;
  --montserrat: 'Montserrat', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

.mini-gallery-container {
  width: 95%;
  overflow: hidden;
  margin: -25px auto 0 auto;
}

.mini-gallery-wrapper {
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
}

.mini-gallery-track {
  display: flex;
  transition: none;
  gap: 10px;
  width: fit-content;
}

.mini-gallery-item {
  flex-shrink: 0;
  width: 300px;
  height: 169px;
  /* 300px / 16 * 9 = 168.75px ≈ 169px */
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.mini-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
 border: 4px solid var(--cream-color);
 cursor: pointer;
}

.mini-gallery-item img:hover {
  filter: brightness(0.8);
}

.mini-gallery-play-icon {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    background-color: rgba(24, 24, 24, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10;
}

.mini-gallery-play-icon span {
    font-size: 32px;
    font-weight: bold;
    margin-top: -5px;
    margin-left: 2px;
    color: rgba(251, 245, 235, 0.9);
}

/* Barra de scroll personalizada */
.mini-gallery-scrollbar-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
}

.mini-gallery-scrollbar-track {
  flex: 1;
  height: 12px;
  background: #5e5747;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  gap: 1px;
}

.mini-gallery-scrollbar-thumb {
  height: 100%;
  background: var(--cream-color);
  position: absolute;
  border-radius: 4px;
  left: 0;
  cursor: grab;
  transition: background-color 0.2s ease;
}

.mini-gallery-scrollbar-thumb:hover {
  background: var(--third-color);
}

.mini-gallery-scrollbar-thumb:active {
  background: var(--third-color);
  cursor: grabbing;
}

.mini-gallery-nav-button {
  width: 32px;
  height: 16px;
  border: 1px solid var(--dark-color);
  background: var(--cream-color);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  font-size: 16px;
  color: var(--dark-color );
  user-select: none;
  line-height: normal;
}

.mini-gallery-nav-button span {
  margin-top: 0px;
  font-weight: bold;
}

.mini-gallery-nav-button:hover {
  background:  var(--third-color);
}

.mini-gallery-nav-button:active {
  background: var(--third-color);
  transform: scale(0.95);
}


