:root {
  --cream-color: #FBF5EB;
  --dark-color: #1B1B1B;
  --montserrat: 'Montserrat', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

.mini-gallery-container {
  width: 100%;
  overflow: hidden;
  margin-top: -35px;
}

.mini-gallery-wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.mini-gallery-track {
  display: flex;
  transition: none;
  gap: 10px;
  width: fit-content;
}

.mini-gallery-item {
  flex-shrink: 0;
  width: 300px;
  height: 169px;
  /* 300px / 16 * 9 = 168.75px ≈ 169px */
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.mini-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Barra de scroll personalizada */
.mini-gallery-scrollbar-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
}

.mini-gallery-scrollbar-track {
  flex: 1;
  height: 12px;
  background: #8a8a8a;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  gap: 1px;
}

.mini-gallery-scrollbar-thumb {
  height: 100%;
  background: var(--dark-color);
  position: absolute;
  border-radius: 4px;
  left: 0;
  cursor: grab;
  transition: background-color 0.2s ease;
}

.mini-gallery-scrollbar-thumb:hover {
  background: #555;
}

.mini-gallery-scrollbar-thumb:active {
  background: #222;
  cursor: grabbing;
}

.mini-gallery-nav-button {
  width: 32px;
  height: 16px;
  border: 1px solid var(--dark-color);
  background: var(--dark-color);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  font-size: 14px;
  color: var(--cream-color);
  user-select: none;
  line-height: normal;
}

.mini-gallery-nav-button:hover {
  background:  #555;
}

.mini-gallery-nav-button:active {
  background: #222;
  transform: scale(0.95);
}
