:root {
  --cream-color: #FBF5EB;
  --dark-color: #1B1B1B;
}

/* Specific styles for About Me page */
.about-me-section {
  padding: 0;
}

.profile-container {
  display: flex;
  background-color: #1B1B1B;
  color: #FBF5EB;
}

.main-content {
  border: 5px solid var(--dark-color);
}

.profile-image {
  width: 40%;
  min-width: 200px;
  max-width: 400px;
  background-color: #1B1B1B;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  width: 100%;
  height: auto;
  padding: 1.5rem;
}

.profile-info {
  flex: 1;
  padding: 2rem;
  background-color: var(--cream-color);
}

.profile-info h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--dark-color);
}

.profile-info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: var(--dark-color);
}

/* Responsive */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }

  .profile-image {
    width: 100%;
    max-width: none;
  }
}