:root {
  --cream-color: #FBF5EB;
  --dark-color: #1B1B1B;
  --montserrat: 'Montserrat', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

/* Experience Card */
.experience-card {
  background-color: var(--cream-color); /* Cambiado para que coincida con el fondo principal */
  border: 4px solid var(--dark-color);
  padding: 2rem 2rem 1.5rem 2rem;
  margin-bottom: 0;
}

.experience-content {
  display: flex;
  gap: 2rem;
}

.experience-text {
  flex: 3;
}

.experience-details {
  flex: 1;
  border-left: 1px solid var(--dark-color);
  padding-left: 2rem;
}

.experience-text h2 {
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.experience-text p {
  font-family: var(--roboto);
}

.company{
  color: var(--dark-color);
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.description {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.experience-text h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-tag {
  background-color: var(--dark-color);
  color: var(--cream-color);
  padding: 0.35rem 0.85rem;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 700;
}

.detail-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.detail-item {
  margin-bottom: 1.5rem;
}

/* Portfolio Section */
.portfolio-section {
  background-color: var(--dark-color);
  color: var(--cream-color);
  padding: 2rem;
}

.portfolio-section h2 {
  margin-bottom: 1.5rem;
}

.projects-grid {
  display: flex;
  gap: 1rem;
}

.project-card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-card img {
  width: 280px;
  height: auto;
  margin-bottom: 1rem;
}

.detail-button {
  align-self: flex-start;
  background-color: var(--cream-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.detail-button span {
  font-size: 1.2rem;
}