:root {
  --cream-color: #FBF5EB;
  --dark-color: #1B1B1B;
  --montserrat: 'Montserrat', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

/* Specific styles for About Me page */
.about-me-section {
  padding: 0;
}

.profile-container {
  display: flex;
  background-color: #1B1B1B;
  color: #FBF5EB;
}

.main-content {
  border: 5px solid var(--dark-color);
}

.profile-image {
  width: 40%;
  min-width: 200px;
  max-width: 400px;
  background-color: #1B1B1B;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  width: 100%;
  height: auto;
  padding: 1.5rem;
}

.profile-info {
  flex: 1;
  padding: 3.4rem 3.5rem 3.4rem 3.5rem;
  background-color: var(--cream-color);
}

.profile-info h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--dark-color);
}

.profile-info p {
  font-family: var(--montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: var(--dark-color);
}

.profile-info p:last-of-type {
  margin-bottom: 5px;
}

.profile-info ul li {
  font-family: var(--montserrat);
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-color);
  margin-bottom: 5px;
}

.profile-info ul li a {
  text-decoration: underline;
  color: var(--dark-color);
}

.profile-info ul li i {
  font-size: 20px;
  color: var(--dark-color);
  margin-right: 10px;
  vertical-align: middle;
}




@media (max-width: 1280px) {
  .profile-image {
    display: none;
  }


  .profile-info {
    padding: 3rem 3rem;
  }

}


/* Responsive */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }


  .profile-image {
    width: 100%;
    max-width: none;
  }


}


@media (max-width: 660px) {
  .profile-info {
    padding: 32px;
  }

  .profile-info h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}